.question-info-div {
  border-left: 1px solid grey;
  margin-left: 20px;
  padding-left: 20px;
  width: 300px;
}

.question-info-header {
  font-size: 1.8rem;
  width: 100%;
}

.question-info-div input {
  margin-right: 10px;
}
