.teaser-body {
  border: 1px solid #DBDBDB;
  margin-bottom: 20px;
  box-shadow: 2px 3px 9px 1px #DBDBDB;
}

.teaser-body:last-of-type {
  margin-bottom: 10px;
}

.teaser-header-div {
  background-color:  #838383;
  color: white;
  padding: 10px;
}

.teaser-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teaser-inner-div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px
}

.teaser-image {
  height: 150px;
  width: 150px;
}

.teaser-info-div {
  border-left: 1px solid grey;
  margin-left: 20px;
  padding-left: 20px;
  width: 270px;
}

.teaser-info-header {
  font-size: 1.2rem;
}

.teaser-info {
  margin-top: 30px;
  margin-bottom: 40px;
}

.teaser-button {
  width: 250px;
  background-color: #20BA45;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

