
/* .App {
  text-align: center;
} */
.app-body {
  width: 500px;
  margin: 0 auto
}

select {
  border: 5px soild black;
  width: 800px;
  outline: thick;
  background-color: aqua;
  margin-top: 300px;
}

.span{
  display: flex;
  align-items: center;
}

